@font-face {
  font-family: 'Nata Sans';
  src: url('./../fonts/NataSans-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Nata Sans';
  src: url('./../fonts/NataSans-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Nata Sans';
  src: url('./../fonts/NataSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Nata Sans';
  src: url('./../fonts/NataSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Nata Sans';
  src: url('./../fonts/NataSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Nata Sans';
  src: url('./../fonts/NataSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Nata Sans';
  src: url('./../fonts/NataSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nata Sans';
  src: url('./../fonts/NataSans-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Nata Sans';
  src: url('./../fonts/NataSans-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: 'Nata Sans', sans-serif;
}
