:host{
  .playlist-modal{
    background: var(--bg-gray);
    &_title{
      font-size: var(--large);
      font-weight: var(--bold);
      color: var(--green-dark);
      margin-bottom: 16px;
      text-align: center;
    }
    &_button{
      margin: 16px 0;
      display: flex;
      justify-content: flex-end;
    }
    &_table{
      background-color: var(--gray-material);
      &_header{
        background: var(--bg-dark);
        border-bottom: 1px solid var(--neutral-3);
        vertical-align: middle;
        text-align: center;
        font-weight: var(--light);
        font-size: var(--large);
        color: var(--neutral-1);
      }
      &_body{
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid var(--neutral-3);
      }
    }
  }
}