<app-header></app-header>
<app-breadcrumb></app-breadcrumb>

<div class="artists-page">

  <!-- PLAYLIST GALLERY -->
  <div class="artists-page_accordion">
    <mat-accordion multi>
      <mat-expansion-panel expanded="true" class="artists-page_accordion_expansion-panel">
        <mat-expansion-panel-header class="artists-page_accordion_expansion-panel_header">
          <mat-panel-title class="artists-page_accordion_expansion-panel_header_title">
            My Artists
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-artists-filter></app-artists-filter>
        <app-artists-gallery></app-artists-gallery>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>

<app-footer></app-footer>
