<div class="songs-filters">
  <form class="songs-filters_form">

    <!-- artist -->
    <mat-form-field class="songs-filters_form_field">
      <mat-label>Artist</mat-label>
      <input placeholder="Ex: Chase Atlantic" matInput />
    </mat-form-field>

    <!-- song -->
    <mat-form-field class="songs-filters_form_field">
      <mat-label>Song</mat-label>
      <input placeholder="Ex: Hands to Myself" matInput />
    </mat-form-field>

    <!-- album -->
    <mat-form-field class="songs-filters_form_field">
      <mat-label>Album</mat-label>
      <input placeholder="Ex: Short n' Sweet" matInput />
    </mat-form-field>

  </form>
</div>