<div class="songs-filters">
  <form class="songs-filters_form" [formGroup]="searchSongsForm" (ngSubmit)="search()">
    <div class="songs-filters_form_fields">
      <!-- artist -->
      <mat-form-field class="songs-filters_form_field">
        <mat-label>Artist</mat-label>
        <input placeholder="Ex: Chase Atlantic" matInput formControlName="artist" />
      </mat-form-field>

      <!-- song -->
      <mat-form-field class="songs-filters_form_field">
        <mat-label>Song</mat-label>
        <input placeholder="Ex: Hands to Myself" matInput formControlName="song" />
      </mat-form-field>

      <!-- album -->
      <mat-form-field class="songs-filters_form_field">
        <mat-label>Album</mat-label>
        <input placeholder="Ex: Short n' Sweet" matInput formControlName="album" />
      </mat-form-field>
    </div>

    <div class="songs-filters_form_actions">
      <button matButton type="submit">Search</button>
    </div>
  </form>
</div>