<div class="playlist-filters">
  <form class="playlist-filters_form"
    [formGroup]="searchPlaylistForm"
  >

    <div class="playlist-filters_form_fields">
      <!-- title -->
      <mat-form-field class="playlist-filters_form_field">
        <mat-label>Title</mat-label>
        <input (input)="filterByTitle($event)"
          placeholder="Ex: Songs to Travel" matInput formControlName="title" />
      </mat-form-field>

      <!-- creator -->
      <mat-form-field class="playlist-filters_form_field">
        <mat-label>Creator</mat-label>
        <input (input)="filterByCreator($event)"
          placeholder="Ex: suenoctisay" matInput formControlName="creator" />
      </mat-form-field>

      <!-- genre -->
      <mat-form-field class="playlist-filters_form_field">
        <mat-label>Genre</mat-label>
        <input (input)="filterByGenre($event)"
          placeholder="Ex: Alternative" matInput formControlName="genre" />
      </mat-form-field>

      <div class="playlist-filters_form_actions">
        <button matButton type="submit">Search</button>
      </div>
    </div>

  </form>
</div>
