<div class="playlist-filters">

  <form class="playlist-filters_form" [formGroup]="searchPlaylistForm" (ngSubmit)="search()">
    <div class="playlist-filters_form_fields">
      <!-- creator -->
      <mat-form-field class="playlist-filters_form_field">
        <mat-label>Creator</mat-label>
        <input placeholder="Ex: suenoctisay" matInput formControlName="creator" />
      </mat-form-field>

      <!-- genre -->
      <mat-form-field class="playlist-filters_form_field">
        <mat-label>Genre</mat-label>
        <input placeholder="Ex: Alternative" matInput formControlName="genre" />
      </mat-form-field>

      <div class="playlist-filters_form_actions">
        <button matButton type="submit">Search</button>
      </div>
    </div>
  </form>

</div>
