<div class="playlist-gallery">

  <!-- PLAYLIST 1 -->
  <mat-card  appearance="outlined" class="playlist-gallery_card">
    <mat-card-header class="playlist-gallery_card_header">
      <mat-card-title class="playlist-gallery_card_header_title">Altumn</mat-card-title>
      <mat-card-subtitle class="playlist-gallery_card_header_subtitle">
        <p class="playlist-gallery_card_header_subtitle_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum lorem nunc, et blandit lectus euismod non.
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="playlist-gallery_card_img-container">
      <img mat-card-image class="playlist-gallery_card_img-container_img" src="../../../../../assets/img/playlist-images/playlist-1.jpg" alt="Cover Photo">
    </div>
    <mat-card-content class="playlist-gallery_card_content">
      <ul class="playlist-gallery_card_content_list">
        <li class="playlist-gallery_card_content_list_item">Creator: suenoctisay</li>
        <li class="playlist-gallery_card_content_list_item">Songs: 120</li>
        <li class="playlist-gallery_card_content_list_item">Genre: Alternative</li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="playlist-gallery_card_actions">
      <button matButton>See</button>
      <button matButton>Edit</button>
    </mat-card-actions>
  </mat-card>

  <!-- PLAYLIST 2 -->
  <mat-card  appearance="outlined" class="playlist-gallery_card">
    <mat-card-header class="playlist-gallery_card_header">
      <mat-card-title class="playlist-gallery_card_header_title">Go to Sleep</mat-card-title>
      <mat-card-subtitle class="playlist-gallery_card_header_subtitle">
        <p class="playlist-gallery_card_header_subtitle_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum lorem nunc, et blandit lectus euismod non.
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="playlist-gallery_card_img-container">
      <img mat-card-image class="playlist-gallery_card_img-container_img" src="../../../../../assets/img/playlist-images/playlist-2.jpg" alt="Cover Photo">
    </div>
    <mat-card-content class="playlist-gallery_card_content">
      <ul class="playlist-gallery_card_content_list">
        <li class="playlist-gallery_card_content_list_item">Creator: suenoctisay</li>
        <li class="playlist-gallery_card_content_list_item">Songs: 86</li>
        <li class="playlist-gallery_card_content_list_item">Genre: Instrumental</li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="playlist-gallery_card_actions">
      <button matButton>See</button>
      <button matButton>Edit</button>
    </mat-card-actions>
  </mat-card>

  <!-- PLAYLIST 3 -->
  <mat-card  appearance="outlined" class="playlist-gallery_card">
    <mat-card-header class="playlist-gallery_card_header">
      <mat-card-title class="playlist-gallery_card_header_title">Time to Study</mat-card-title>
      <mat-card-subtitle class="playlist-gallery_card_header_subtitle">
        <p class="playlist-gallery_card_header_subtitle_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum lorem nunc, et blandit lectus euismod non.
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="playlist-gallery_card_img-container">
      <img mat-card-image class="playlist-gallery_card_img-container_img" src="../../../../../assets/img/playlist-images/playlist-3.jpg" alt="Cover Photo">
    </div>
    <mat-card-content class="playlist-gallery_card_content">
      <ul class="playlist-gallery_card_content_list">
        <li class="playlist-gallery_card_content_list_item">Creator: suenoctisay</li>
        <li class="playlist-gallery_card_content_list_item">Songs: 133</li>
        <li class="playlist-gallery_card_content_list_item">Genre: Lofi</li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="playlist-gallery_card_actions">
      <button matButton>See</button>
      <button matButton>Edit</button>
    </mat-card-actions>
  </mat-card>

  <!-- PLAYLIST 4 -->
  <mat-card  appearance="outlined" class="playlist-gallery_card">
    <mat-card-header class="playlist-gallery_card_header">
      <mat-card-title class="playlist-gallery_card_header_title">Back to 90s</mat-card-title>
      <mat-card-subtitle class="playlist-gallery_card_header_subtitle">
        <p class="playlist-gallery_card_header_subtitle_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum lorem nunc, et blandit lectus euismod non.
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="playlist-gallery_card_img-container">
      <img mat-card-image class="playlist-gallery_card_img-container_img" src="../../../../../assets/img/playlist-images/playlist-4.jpg" alt="Cover Photo">
    </div>
    <mat-card-content class="playlist-gallery_card_content">
      <ul class="playlist-gallery_card_content_list">
        <li class="playlist-gallery_card_content_list_item">Creator: suenoctisay</li>
        <li class="playlist-gallery_card_content_list_item">Songs: 05</li>
        <li class="playlist-gallery_card_content_list_item">Genre: Grunge Rock</li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="playlist-gallery_card_actions">
      <button matButton>See</button>
      <button matButton>Edit</button>
    </mat-card-actions>
  </mat-card>

  <!-- PLAYLIST 5 -->
  <mat-card  appearance="outlined" class="playlist-gallery_card">
    <mat-card-header class="playlist-gallery_card_header">
      <mat-card-title class="playlist-gallery_card_header_title">Shut up and Drive</mat-card-title>
      <mat-card-subtitle class="playlist-gallery_card_header_subtitle">
        <p class="playlist-gallery_card_header_subtitle_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum lorem nunc, et blandit lectus euismod non.
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="playlist-gallery_card_img-container">
      <img mat-card-image class="playlist-gallery_card_img-container_img" src="../../../../../assets/img/playlist-images/playlist-5.jpg" alt="Cover Photo">
    </div>
    <mat-card-content class="playlist-gallery_card_content">
      <ul class="playlist-gallery_card_content_list">
        <li class="playlist-gallery_card_content_list_item">Creator: suenoctisay</li>
        <li class="playlist-gallery_card_content_list_item">Songs: 57</li>
        <li class="playlist-gallery_card_content_list_item">Genre: Pop</li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="playlist-gallery_card_actions">
      <button matButton>See</button>
      <button matButton>Edit</button>
    </mat-card-actions>
  </mat-card>

  <!-- PLAYLIST 6 -->
  <mat-card  appearance="outlined" class="playlist-gallery_card">
    <mat-card-header class="playlist-gallery_card_header">
      <mat-card-title class="playlist-gallery_card_header_title">Cleaning the House</mat-card-title>
      <mat-card-subtitle class="playlist-gallery_card_header_subtitle">
        <p class="playlist-gallery_card_header_subtitle_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum lorem nunc, et blandit lectus euismod non.
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="playlist-gallery_card_img-container">
      <img mat-card-image class="playlist-gallery_card_img-container_img" src="../../../../../assets/img/playlist-images/playlist-6.jpg" alt="Cover Photo">
    </div>
    <mat-card-content class="playlist-gallery_card_content">
      <ul class="playlist-gallery_card_content_list">
        <li class="playlist-gallery_card_content_list_item">Creator: suenoctisay</li>
        <li class="playlist-gallery_card_content_list_item">Songs: 77</li>
        <li class="playlist-gallery_card_content_list_item">Genre: Pop</li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="playlist-gallery_card_actions">
      <button matButton>See</button>
      <button matButton>Edit</button>
    </mat-card-actions>
  </mat-card>

  <!-- PLAYLIST 7 -->
  <mat-card  appearance="outlined" class="playlist-gallery_card">
    <mat-card-header class="playlist-gallery_card_header">
      <mat-card-title class="playlist-gallery_card_header_title">Good For You</mat-card-title>
      <mat-card-subtitle class="playlist-gallery_card_header_subtitle">
        <p class="playlist-gallery_card_header_subtitle_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum lorem nunc, et blandit lectus euismod non.
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="playlist-gallery_card_img-container">
      <img mat-card-image class="playlist-gallery_card_img-container_img" src="../../../../../assets/img/playlist-images/playlist-7.jpeg" alt="Cover Photo">
    </div>
    <mat-card-content class="playlist-gallery_card_content">
      <ul class="playlist-gallery_card_content_list">
        <li class="playlist-gallery_card_content_list_item">Creator: suenoctisay</li>
        <li class="playlist-gallery_card_content_list_item">Songs: 101</li>
        <li class="playlist-gallery_card_content_list_item">Genre: Alternative</li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="playlist-gallery_card_actions">
      <button matButton>See</button>
      <button matButton>Edit</button>
    </mat-card-actions>
  </mat-card>

  <!-- PLAYLIST 8 -->
  <mat-card  appearance="outlined" class="playlist-gallery_card">
    <mat-card-header class="playlist-gallery_card_header">
      <mat-card-title class="playlist-gallery_card_header_title">Pop Songs 2012s</mat-card-title>
      <mat-card-subtitle class="playlist-gallery_card_header_subtitle">
        <p class="playlist-gallery_card_header_subtitle_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum lorem nunc, et blandit lectus euismod non.
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="playlist-gallery_card_img-container">
      <img mat-card-image class="playlist-gallery_card_img-container_img" src="../../../../../assets/img/playlist-images/playlist-8.jpeg" alt="Cover Photo">
    </div>
    <mat-card-content class="playlist-gallery_card_content">
      <ul class="playlist-gallery_card_content_list">
        <li class="playlist-gallery_card_content_list_item">Creator: suenoctisay</li>
        <li class="playlist-gallery_card_content_list_item">Songs: 256</li>
        <li class="playlist-gallery_card_content_list_item">Genre: Pop</li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="playlist-gallery_card_actions">
      <button matButton>See</button>
      <button matButton>Edit</button>
    </mat-card-actions>
  </mat-card>

  <!-- PLAYLIST 9 -->
  <mat-card  appearance="outlined" class="playlist-gallery_card">
    <mat-card-header class="playlist-gallery_card_header">
      <mat-card-title class="playlist-gallery_card_header_title">To Relax</mat-card-title>
      <mat-card-subtitle class="playlist-gallery_card_header_subtitle">
        <p class="playlist-gallery_card_header_subtitle_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum lorem nunc, et blandit lectus euismod non.
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="playlist-gallery_card_img-container">
      <img mat-card-image class="playlist-gallery_card_img-container_img" src="../../../../../assets/img/playlist-images/playlist-9.jpeg" alt="Cover Photo">
    </div>
    <mat-card-content class="playlist-gallery_card_content">
      <ul class="playlist-gallery_card_content_list">
        <li class="playlist-gallery_card_content_list_item">Creator: suenoctisay</li>
        <li class="playlist-gallery_card_content_list_item">Songs: 99</li>
        <li class="playlist-gallery_card_content_list_item">Genre: Intrumental</li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="playlist-gallery_card_actions">
      <button matButton>See</button>
      <button matButton>Edit</button>
    </mat-card-actions>
  </mat-card>

  <!-- PLAYLIST 10 -->
  <mat-card  appearance="outlined" class="playlist-gallery_card">
    <mat-card-header class="playlist-gallery_card_header">
      <mat-card-title class="playlist-gallery_card_header_title">Time to Travel</mat-card-title>
      <mat-card-subtitle class="playlist-gallery_card_header_subtitle">
        <p class="playlist-gallery_card_header_subtitle_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum lorem nunc, et blandit lectus euismod non.
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="playlist-gallery_card_img-container">
      <img mat-card-image class="playlist-gallery_card_img-container_img" src="../../../../../assets/img/playlist-images/playlist-10.jpeg" alt="Cover Photo">
    </div>
    <mat-card-content class="playlist-gallery_card_content">
      <ul class="playlist-gallery_card_content_list">
        <li class="playlist-gallery_card_content_list_item">Creator: suenoctisay</li>
        <li class="playlist-gallery_card_content_list_item">Songs: 77</li>
        <li class="playlist-gallery_card_content_list_item">Genre: Alternative/Indietronica</li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="playlist-gallery_card_actions">
      <button matButton>See</button>
      <button matButton>Edit</button>
    </mat-card-actions>
  </mat-card>

</div>
